{
  "presets": [
    [
      "env",
      {
        "browsers": [
          "> 1%",
          "last 2 versions",
          "Firefox ESR",
          "Opera 12.1",
          "ie >= 9"
        ]
      }
    ]
  ],
  "plugins": [
    "dynamic-import-webpack",
    "transform-object-rest-spread",
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ],
    "transform-runtime"
  ]
}
