{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "linebreak-style": [
      "warn",
      "unix"
    ],
    "no-unused-vars": [
      "warn",
      {
        "args": "none"
      }
    ],
    "no-console": "off"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  }
}
