<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Error: <%- it.message %></title>
</head>
<body>
    <img src="http://httpcats.herokuapp.com/<%= it.statusCode %>" alt="<%= it.statusCode %>"/>
    <p><%- it.message %></p>
</body>
</html>