.video-list {
  list-style: none;
  padding: 0;
  margin: 0;

  article {
    header {
      padding: 1.5em;
    }

    .cover {
      position: relative;
      height: 0;
      padding-top: 56.25%; // 16:9

      img {
        position: absolute;
        top: 0;
        left: 0;
        .square(100%);
      }
    }

    .content {
      padding: 1.5em 1.5em 1.5em 0;
      position: relative;

      h2 {
        margin-top: 0;
      }

      .meta {
        position: absolute;
        bottom: 1.5em;
        margin-bottom: 0;
      }
    }
  }

  li:first-child article {
    background: fadeout(@color2, 35%);
  }
}

.chat-list {
  @formHeight: 3.3em;
  position: relative;

  @media screen and (min-width: 48em) {
    padding-bottom: @formHeight;
  }

  form {
    background: @color1;

    .wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      div {
        padding: 0 0.5em;
      }
    }

    .nickname,
    .submit {
      order: 1;
      justify-content: center;
      align-content: stretch;
      text-align: center;
    }

    .nickname {
      flex: 0 1 6em;
    }

    .input {
      order: 0;
      flex: 0 1 100%;
    }

    .submit {
      flex: 2 1 9em;
    }

    @media screen and (min-width: 48em) {
      height: @formHeight;

      .wrapper {
        flex-wrap: nowrap;

        .input {
          padding: 0;
        }
      }

      .nickname,
      .submit,
      .input {
        order: 0;
        flex-grow: 0;
        flex-shrink: 1;
      }
    }

    input,
    button {
      width: 100%;
    }

    button[type=submit] {
      margin-top: 0.1em;
    }

    button {
      margin-top: 0.1em;
      background: @color4;

      i {
        color: @color5;
      }

      span {
        display: none;
      }
    }

    label {
      display: none;
    }

    @media screen and (min-width: 48em) {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    @media screen and (min-width: 48em) {
      height: 100%;
      overflow: auto;
    }
  }

  article {
    header {
      padding: 1em 1.3em;
    }

    h2, h3 {
      display: inline;
      font-size: 1em;
      line-height: 1.3em;
    }

    h3{
      &:before {
        content: '[';
      }

      &:after {
        content: ']'
      }
    }

    &.self {
      header {
        color: screen(@color4, @color1);
      }
    }
  }
}